<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @dashboard.order_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @dashboard.user_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @dashboard.device_id %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
