<h1> Your cart</h1>
<%#= render 'layouts/info' %>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Monitor</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @arr = Array.new %>
   <% current_user.carts.all.where("status = ?", "pending").each do |cart| %>

    <tr>
        <td><%= cart.status %></td>
        <td><%= cart.device.name %></td>
	<td><%= cart.device.price %></td>
        <td><%= image_tag(cart.device.avatar, :width => 75, :height => 60) %>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Check out', new_order_path(:device_id => cart.device.id) %></td>
       <% @arr << cart.device.price %>
       </tr>
    <% end %>
         <%$sum = @arr.sum %>
         <td><h6>Total Price</h6></td>
         <td>     </td>
         <td><h6><%= number_to_currency($sum) %></h6></td>
  </tbody>
</table>

 
         
<br />
<br />
<font size = "5"><%= link_to 'Shop more', devices_path %></font>
<br>


